.container {
    width: 100%;
    height: 100%;
    /*padding: 1em;*/
}

/*canvas {
    margin: -2em;
}*/
/*
canvas:active { 
    cursor: pointer;
    cursor: -webkit-grabbing;
}

#canvas-container {
    margin: 20px 0;
}
*/

* {
    padding: 0;
    margin: 0;
}