#myElement {
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

#skydisc {
	height: 100%;
	width: 100%;
	background-color: black;
}


/*@media (orientation: landscape) {
	#skydisc {
		height: 100%;*/
		/*width: auto;*/
		/*background-color: black;
	}
}*/