#setAlarm {
	visibility: hidden;
	/*opacity: 0;*/
	position: fixed;
	top: 0;
	left: 0;
}

#alarmList {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*position: fixed;*/
    margin: 0;
	top: 0;
	left: 0;
	height: 100%;
}

#skydisc-hammer-pad {
	position: fixed;
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	z-index: 100;
}

#skydisc {
	position: fixed;
	width: 200%;
	margin-top: -25%;
	margin-left: -50%;
	margin-right: -50%;
	overflow: hidden;
	/*z-index: 0;*/
	/*visibility: hidden;*/
}

#scenery {
	width: 100%;
    height: auto;
    /*position: fixed;*/
    z-index: 10;
}

#stars {
	width: 150%;
}

.sun {
	height: 37%;
	width: auto;
	z-index: -1;
	position: absolute;
}

#sun {
	height: 37%;
	width: auto;
	position: fixed;
}

.moon {
	height: 25%;
	width: auto;
	z-index: -1;
	position: absolute;
}

#moon {
	height: 25%;
	width: auto;
	position: fixed;
}

#owl {
	margin-left: 9%;
	margin-top: 20%;
	z-index: 11;
	width: 5%;
	height: auto;
	opacity: 0.7;
}

/*
#bird {
	visibility: hidden;
	position: fixed;
	top: 1em;
}

#tree {
	visibility: hidden;
	position: fixed;
	top: 1em;
	right: 10em;
}
*/

#alarm1 {
    background-position: left top;
}

#alarm2 {
    background-position: center top;
}

#alarm3 {
    background-position: right top;
}

.box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
	/*background-color: red;*/
}

.scene-object {
	position: fixed;
	margin: 0;
	padding: 0;
}

.alarmSkydisc {
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.edges {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
}

#skydiscA1 {
	position: absolute;
	width: 600%;
	margin-top: -75%;
	margin-left: -150%;
	margin-right: -350%;
	z-index: -1;
}

#skydiscA2 {
	position: absolute;
	width: 600%;
	margin-top: -75%;
	margin-left: -250%;
	margin-right: -250%;
	z-index: -1;
}

#skydiscA3 {
	position: absolute;
	width: 600%;
	margin-top: -75%;
	margin-left: -350%;
	margin-right: -150%;
	z-index: -1;
}

#starsA1 {
	position: absolute;
	width: 450%;
	z-index: -1;
}
#starsA2 {
	position: absolute;
	width: 450%;
	z-index: -1;
}
#starsA3 {
	position: absolute;
	width: 450%;
	z-index: -1;
}

.alarmItem {
	height: 100%;
	flex-grow: 1;

	background-image: url("../img/scenery.png");
	background-size: 300% auto;
	background-repeat: no-repeat;
	z-index: 10;
}

html {
	margin: 0;
}

body {
	margin: 0;
	/*visibility: hidden;
	opacity: 0;*/
}

@media (orientation: landscape) {
	#scenery {
		width: 100%;
	    height: auto;
	    /*/*position: fixed;*/
	    /*z-index: 0;*/*/
	}
}

@media (orientation: portrait) {
	#scenery {
		height: 100%;
		width: auto;
		margin-left: -25%
	}

	body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}