#myElement {
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

#skydisc-hammer-pad {
	position: fixed;
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	z-index: 100;
}

#skydisc {
	position: fixed;
	width: 200%;
	margin-top: -25%;
	margin-left: -50%;
	margin-right: -50%;
	overflow: hidden;
	/*z-index: 0;*/
	/*visibility: hidden;*/
}

#scenery {
	width: 100%;
    height: auto;
    /*position: fixed;*/
    z-index: 10;
}

#bird {
	visibility: hidden;
	position: fixed;
	top: 1em;
}

#tree {
	visibility: hidden;
	position: fixed;
	top: 1em;
	right: 10em;
}

.scene-object {
	position: fixed;
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
}

body {
	margin: 0;
}

@media (orientation: landscape) {
	#scenery {
		width: 100%;
	    height: auto;
	    /*/*position: fixed;*/
	    /*z-index: 0;*/*/
	}
}

@media (orientation: portrait) {
	#scenery {
		height: 100%;
		width: auto;
		margin-left: -25%

	}
}